<%= form_with model: @post do |f| %>
  <div class="field">
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="field">
    <%= f.label :posted_text %>
    <%= f.text_field :posted_text, class: 'form-control' %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
