<div class = "row ml-5 mt-5">
  <!--ユーザーのプロフィール画像を表示-->
  <%= image_tag @post.image, size: "200x200" %>
  <%= render "public/favorites/favorite", post: @post %>
  <%= @post.posted_text %>
  <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger"   %>
</div>

<div>
<%= render "public/comments/comment", post: @post, comment: @comment, comments: @comments %>
</div>