<div class = "row ml-5 mt-5">
  <table>
    <tr>
      <!--ユーザーのプロフィール画像を表示-->
      <%= link_to user_path(@post.user.id) do %>
        <%= @post.user.display_name %>
      <% end %>
    </tr>
    <tr>
      <%= image_tag @post.image, size: "200x200" %>
    </tr>
    <tr>
      <td id="favorite_<%= @post.id %>">
        <%= render "public/favorites/favorite", post: @post %>
      </td>
      <td><%= @post.posted_text %></td>
      <td><%= link_to "削除", post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger"   %></td>
    </tr>
  </table>
</div>

<div>
<%= render "public/comments/comment", post: @post, comment: @comment, comments: @comments %>
</div>