<div class = "row">
  <div class = "col-md-5"></div>
  <div class = "col-md-6">

<h2><%= I18n.t('sessions.admin_sign_in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!--管理者ログイン用のEメール、パスワードを最初から入力しておく-->
  <div class="field">
    <%= f.label I18n.t('sessions.e_mail') %><br />
    <%= f.email_field :email, autofocus: true, value: "admin@gmail.com" %>
  </div>

  <div class="field">
    <%= f.label I18n.t('sessions.password') %><br />
    <%= f.password_field :password, value: '000000' %>
  </div>

  <div class="actions mt-4">
    <%= f.submit I18n.t('sessions.sign_in') %>
  </div>
<% end %>
</div>
</div>
