  <% users.each do |user| %>
    <table class = "table">
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.display_name %>
            <% end %>
          </td>
          <td>
            <%= link_to user_followings_path(user.id) do %>
              <%= I18n.t('user.follow') %>: <%= user.followings.count %>
            <% end %>
          </td>
          <td>
            <%= link_to user_followers_path(user.id) do %>
              <%= I18n.t('user.follower') %>: <%= user.followers.count %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
