<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-7'>
      <h2 class = "ml-4"><%= I18n.t('user.users')%></h2>
      <table class = "table" >
        <% @users.each do |user| %>
          <tr>
            <td rowspan="2"><%= image_tag user.get_profile_image, size: "200x200" %></td>
            <td><%= I18n.t('user.name') %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.display_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= I18n.t('user.introduction') %></td>
            <td><%= user.introduction %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>