  <%= flash[:notice] %>

  <div class = "row ml-5 mt-5">
    <!--ユーザーのプロフィール画像を表示-->
    <%= image_tag @user.get_profile_image, size: "200x200" %>
    <%= @user.display_name %>
    <%= @user.introduction %>
    <%= link_to "いいね一覧", favorites_user_path(@user.id) %>
    <%= link_to "編集", edit_user_path(current_user.id) %>
  </div>
  <% @posts. each do |post| %>
    <div class = "row ml-5 mt-5">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.image, size: "200x200" %><br>
      <% end %>
      <%= post.posted_text %>
    </div>
  <% end %>