

<!--管理者がログインしていたら-->
<% if admin_signed_in? %>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link gold btnripple3 mt-3" %>
  <p>管理者ログイン中</p>
<!--ユーザーがログインしていたら-->
<% elsif user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link gold btnripple3 mt-3" %>
  <%= link_to user_path(current_user.id), class: "nav-link gold btnripple3 mt-3" do %>
    <i class="fas fa-user-cog nisegold"></i>
    マイページ
  <% end %>
  <%= current_user.display_name %>
  <%= link_to "投稿一覧", posts_path %>
  <%= render 'public/searches/search' %>
<!--ログイン前画面-->
<% else %>
  <%= link_to new_user_session_path, class: "nav-link gold btnripple3 mt-3" do %>
    <i class="fas fa-sign-in-alt nisegold">ログイン</i>
  <% end %>
  <%= link_to guests_guest_sign_in_path, method: :post, class: "nav-link gold btnripple3 mt-3" do %>
    <i class="fas fa-sign-in-alt nisegold">ゲストログイン</i>
  <% end %>
<% end %>

