<div class= " bg-info text-white">
  <div class= "container">
    <div class = "row">
      <div class = "mx-auto mt-3">
        <h1>sorairo</h1>
      </div>
    </div>
    <div class = "row">
        <% if I18n.locale == :en %>
          <%= link_to "日本語", url_for(locale: :ja), class: "text-white" %>
        <% else %>
          <%= link_to 'English', url_for(locale: :en), class: "text-white" %>
        <% end %>
    </div>
  </div>
</div>
<div class = "row mt-2">
  <!--管理者がログインしていたら-->
  <% if admin_signed_in? %>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
    <p>管理者ログイン中</p>
  <!--ユーザーがログインしていたら-->
  <% elsif user_signed_in? %>
    <!--ログイン中のユーザーの名前表示-->
    <!--<%#= current_user.display_name %>ログイン中-->
      <div class = "row m-auto">
        <!--マイページのリンク-->
        <%= link_to user_path(current_user.id), class: "nav-link" do %>
          <i class="fas fa-user-cog nisegold"><%= I18n.t('header.my_page') %></i>
        <% end %>
        <!--投稿一覧のリンク-->
        <%= link_to posts_path, class: "nav-link" do %>
          <%= I18n.t('header.posts_list') %>
        <% end %>
        <!--ログアウトのリンク-->
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
           <%= I18n.t('header.sign_out') %>
        <% end %>
        <!--検索バーの表示-->
        <div>
          <%= render 'public/searches/search' %>
        </div>
      </div>

  <% end %>
</div>
